---

# DNS servers which will be used
dns_servers:
  ipv4:
    - 1.1.1.1
    - 1.0.0.1
  ipv6:
    - 2606:4700:4700::1111
    - 2606:4700:4700::1001

congrats:
  common: |
    "#                          Congratulations!                            #"
    "#                     Your netm4ul server is running.                     #"
  ssh_access: |
    "#      Shell access: ssh -i {{ ansible_ssh_private_key_file|default(omit) }} {{ ansible_ssh_user|default(omit) }}@{{ ansible_ssh_host|default(omit) }}        #"

SSH_keys:
  comment: netm4ul@ssh
  private: configs/netm4ul.pem
  public: configs/netm4ul.pem.pub

cloud_providers:
  scaleway:
    size: START1-S
    image: Ubuntu Xenial
    arch: x86_64
  local:

fail_hint:
  - Sorry, but something went wrong!
  - Please check the troubleshooting guide.
